<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/i_watch_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/i_watch_logo_circle"
        android:supportsRtl="true"
        android:name=".MovieApp"
        android:theme="@style/Theme.MoviesCompose"
        tools:targetApi="tiramisu"
        android:localeConfig="@xml/locales_config">
        <meta-data
            android:name="autoStoreLocales"
            android:value="true" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MoviesCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <data
                    android:host="github.com/meetozan"
                    android:scheme="https">
                </data>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>
</manifest>